{
  "extends": [
    "plugin:react/recommended",
    "eslint-config-airbnb-base"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "amd": true
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "settings": {
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  },
  "rules": {
    "comma-dangle": [2, "never"], // not cross-browser, leading to inaccurate length or errors http://stackoverflow.com/questions/7246618/trailing-commas-in-javascript

    "func-names": 0, // this causes unnecessarily verbose code

    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0, // https://github.com/clayne11/eslint-import-resolver-meteor/issues/11
    "import/no-unresolved": 0,

    "max-len": [2, 120, 2, {"ignoreComments": true, "ignoreUrls": true}],

    "new-cap": [2, {"capIsNewExceptions": []}], // whitelist needed

    "no-console": 0, // console.* is used for debugging purposes and removed during deploy by uglify
    "no-nested-ternary": 0,
    "no-param-reassign": 0, // creates a loss of a lot of flexibilty
    "no-underscore-dangle": 0,
    "no-var": 2, // always use let for block-scoped variables

    "object-curly-spacing": [2, "never", {"objectsInObjects": false, "arraysInObjects": false}],

    "prefer-rest-params": 0, // proven clunky in practice with Backbone - there are many cases of wanting to use named parameters in 'initialize' functions and then just pass the arguments along

    "semi": [2, "never"],
    "space-before-function-paren": [2, "always"]
  }
}
